body{
    overflow-x: hidden;
}
#carousel-block{
    background-color: rgba(238, 238, 238, 1);
    position:relative !important;
}
#fpagetitle{
    left: 20px;
}
#also2 .h20{
    display: block !important;
}
#also2 a.plitka .snuggle{
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#848080', endColorstr='#000000'),progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
.art-footer{
    height: 0 !important;
}