@charset "utf-8";


#filter-text  .imagelist li {
  display: inline-block;
  width: initial;
  float: initial;
  padding-bottom: 4px;
}

#filter-text .imagelist li a img {
  height: 100%;
  width: 100%;
}

/* FAVES BLOCK */
#mm-faves .faves-block {
  margin-bottom: 20px;
}

#mm-faves .faves-list li {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 5px #9c9c9c;
  -moz-box-shadow: 0 1px 5px #9c9c9c;
  box-shadow: 0 1px 5px #9c9c9c;
  color: #a3a3a3;
  background: #fafafa;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

#mm-faves .nav-tabs{
  margin: 0 0 8px 0;
}
#mm-faves .nav-tabs li{
  margin: 0 2px 0 0;
}
#mm-faves .nav-tabs > li > a {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  padding: 5px 10px;
}
#mm-faves .nav-tabs li:nth-child(1n+5) {
  margin-top:0;
}

#mm-faves .tab-pane .faves-list li:nth-child(1n+1) {
  margin-right: 12px;
  margin-bottom: 12px;
}

#mm-faves .tab-pane .shm {
  margin: 0;
}

/* Buttons Filter */
#buttons-filter .faves-list h3 {
  margin-bottom: 5px;
  padding: 0;
  font-size: 18px;
  color: #777;
}
#buttons-filter .faves-list li {
  position: relative;
  list-style: none;
  float: left;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
#buttons-filter .faves-list li:nth-child(1n+1) {
  margin-right: -1px;
  margin-bottom: -1px;
}
#buttons-filter .faves-list li a img {
  width: 70px;
  height: 25px;
}
#buttons-filter .liel {
  width: 90px;
  height: 56px;
  padding: 13px 9px;
}

/*--- Videos Filter ---*/
#videos-filter .videos-list {
	padding: 0;
	text-align: center;
}

#videos-filter .videos-list li {
	display: inline-block;
	width: 148px;
	margin: 0 0 20px;
	text-align: center;
	vertical-align: top;
	list-style: none;
}

#videos-filter .videos-list > li > a {
	display: table;
	text-decoration: none;
}

#videos-filter .videos-list li a img {
	display: block;
	width: 148px;
	height: 95px;
}

#videos-filter .videos-list li.video-item .caption {
	max-height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*--- News & Rss Filter ---*/
#filter-text article .art-title {
  font-size: 18px;
  max-height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  font-weight: normal;
}

#filter-text article p{
  max-height: 36px;
  overflow: hidden;
  margin: 0;
}
#filter-text article .ptitles{
  max-height: 18px;
  overflow: hidden;
}

#filter-text section{
  margin-bottom: 25px;
}

#filter-text section .art-descr{
  max-height: 36px;
  overflow: hidden;
}

#filter-text .delimiter{
  border-top: 1px solid #ccc;
  margin-bottom: 25px;
}

.art,
.art-faves { margin-bottom: 25px; }

.art .img {
  float: left;
  margin-right: 8px;
  margin-top: 3px;
  height: 68px;
  width: 88px;
}

.art .img img{
  width: 100%;
  height: 100%;
}

.art .pub-link {
  color: green;
}

.grvline {
  color: #C2C2C4;
  margin-left: 5px;
  margin-right: 5px;
}

.grob{
  opacity: 0;
  height: 1px;
  width: 1px;
}