@charset "UTF-8";
@import url('/resources/font-awesome-4.3.0/css/font-awesome.min.css');

html, body {
	margin: 0;
	padding: 0;
	color: #777;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3 { color: #268abf; }

hr.lws {
	clear: both;
	background: transparent;
	width: 100%;
	height: 1px;
	margin: 0 0 54px 0;
	padding-top: 35px;
	border: 0 none;
	border-bottom: 1px solid #eee;
}
#wrapper{
	height: initial !important;
}
.container-fluid .row,
.container .row {
	/*margin-left: -15px;
	margin-right: -15px;*/
	background: rgba(135, 173, 210, 0.17);
	margin-top:150px;
}

.header {
	background: rgba(125, 166, 207, 0.91);
	padding: 20px 0 20px;
	text-align: center;
}

.header a {
	display: table;
	margin: 0 auto;
	color: #fff;
	text-decoration: none;
	font-size:14px;
}

.header a img {
	max-width: 112px;
	max-height: 91px;
}

.header h1 {
	color: #fff;
	font-size:25px;
	margin: 0;
}

/*--- Show benefits ---*/
.show-benefits {
	text-align: center;
	padding: 55px 0 15px;
	margin:0 auto;

}
.show-benefits a { text-decoration: none; }

.show-benefits a > img {

	max-width: 50%;
}

.show-benefits a > h4 {
	font-size: 22px;
	font-weight: normal;
	text-decoration: underline;
	color: #fff;
}

.show-benefits a > p {
	color: #fff;
	text-align: justify;
	font-size: 17px;
}

/*--- Private search ---*/
#private-search {
	padding-bottom: 30px;
	margin-top:150px;
}

#private-search .h1 { text-align: center; }

/*--- Our Team ---*/
.team {
	background: rgba(135, 173, 210, 0.17);
	padding: 10px 20px 20px;
	text-align: center;
	border-radius: 8px;
}

.team h4 { font-size: 22px; }

.team span.seo .h4 { font-size: 22px; }

.team hr { margin: 0; }

.team img {
	width: 205px;
	height: 205px;
	padding: 4px;
	text-align: center;
	border: 1px solid #d6d6d6;
}

.team h1,
.team h2 { margin-bottom: 20px; }

.team .col-sm-3 { height: 290px; }

/*--- Contact ---*/
.contact h2 { text-align: center; }

.contact .dl-horizontal {
	display: table;
	margin: 0 auto;
	padding: 5px 0 20px;
}

/*--- Features ---*/
#features { margin-bottom: 30px; }

#features h1 {
	margin-bottom: 20px;
	font-size: 32px;
	text-align: center;
	margin-top: 150px;
	margin-bottom:50px;
}

#features h6 {
	margin-top: 0;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	white-space: nowrap;
}

span.seo h2 {
	margin-top: 0;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	white-space: nowrap;
}
span.seo .h6 {
	margin-top: 0;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	white-space: nowrap;
}

#features p {
	text-align: center;
}

#features img { max-width: 100%; }

/*--- LSA ---*/
#lsa-text h1 {
	margin-bottom: 30px;
	text-align: center;
}

#lsa-text ul.list-group li { min-height: 112px; }

#lsa-text .group-img {
	float: left;
	font-size: 60px;
	color: #ddd;
}

#lsa-text .issue-group { margin: 0 50px 0 70px; }

#lsa-text .issue-title {
	max-height: 49px;
	color: #297beb;
	text-overflow: ellipsis;
	overflow: hidden;
}

#lsa-text .issue-title h4 {
	margin: 0 0 10px 0;
	font-size: 22px;
}
#lsa-text .issue-title span.seo .h4 {
	margin: 0 0 10px 0;
	font-size: 22px;
}

#lsa-text .issue-body { text-align: justify; }

ul.list-group > li.list-group-item[onclick] { cursor: pointer; }

.grob{
	display: none;
	opacity: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
/*------------app--------------*/
#top-app{
	width:100%;
	background-color:#fff;
	height:413px;
}
#top-app-txt p{
	font-size:22px;
	margin-bottom: 150px;
	margin: 0 auto;
}

#top-app-title p {
	font-size: 27px;
	color: #268abf;
	margin-top: 50px;
	padding-top:50px;
}

#download-elements{
	width:46%;
	height:150px;
	margin:0 auto;
	margin-left:40%;
}
.download-elements{
	width:auto;
	float:left;
	margin-top:20px;
	margin-right:15px;
}
#slider-flex{
	float: right;
	width: 30%;
	margin-top: -347px;

}
#box-col p,
#box-col2 p,
.horizontal-box p{
	list-style:none;
	color:#939DB1;
	font:22px Lato,sans-serif;
	margin-top:18px;
}
#box-col{
	width:45%;
	float:left;
	height:500px;
	margin-right:10%;

}
#box-col2{
	width:45%;
	float:left;
}
.img-col img{
	width:220px;
	height:220px;
	margin:0 auto;
}
.vertical-box img{
	width:220px;
	height:220px;
	margin-top:40px;
}
.horizontal-box img{
	width:220px;
	margin-top:23px;
}
.img-col{
	width:250px;
	margin:0 auto;
}
.block_title{
	font-size: 26px;
	text-align:center;
	color:#38435B;
	line-height:30px;
	line-weight:400;
	width:91%;
}
.horizontal-box{
	width:100%;
	clear:left;
	margin-bottom:50px;
	float:right;
}
#horiz-title{
	height:auto;
	width:61%;
	float:right;
	margin-top:40px;

}
#horiz-title span,
#horiz-title2 span{
	font-size: 26px;
	color:#38435B;
	line-height:30px;
	line-weight:400;
}
#horiz-title2{
	height:auto;
	width:61%;
	float:left;
	margin-top:40px;
	margin-right:115px;
}

#top-text {
	width: 50%;
	margin-left: 23%;
}
#discover, #all_results {
	height: 845px;
	margin-top: 65px;
}
#trending {
	height: 720px;
}
footer.bottom-fix{bottom: inherit;}
@media (max-width: 1485px) {
	#top-app-txt p { font-size: 21px; }
}
