@import url('/resources/font-awesome-4.3.0/css/font-awesome.min.css');
html,body{
    margin:0;
    padding:0;
    color:#777;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;

}
/*--------header-------*/
#header{
    margin:0 auto;
    height: 112px;
}
#logo{
    margin:10px 0;
    float: left;
    margin-left:12.5%;
}
#logo img{
    float:left;
    margin-top:19px;
    height:45px;
}
#logo h1 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #777;
    font-size: 50px;
    width: 564px;
    margin-top: 15px;
}
#account{
    margin-top:32px;
    float:right;
}
#started{
    /*width: 200px;*/
    height:43px;
    /*float:left;*/
    display: inline-flex;
    margin-right: 20px;

}
#login img{
    margin:5px 5px;
    position:absolute;
    margin-top:4px;
}

#login a{
    text-decoration: none;
    line-height: 42px;
    font-size: 22px;
    color:#777;
}
#started a{
    text-decoration: none;
    line-height: 50px;
    font-size: 18px;
    color:#fff;
    margin-left: 20px;
}

#login a:hover{
    text-decoration: underline;
}
#topGetStartedForFree:hover{
    color:#fff;
}
/*-------dropdown-menu--------*/

#drop-down-menu{
    clear: both;
    width:75%;
}
/*---------baner---------*/
#banner-container{

    width: 100%;
    height: 350px;
    background-color: rgba(125,166,207,0.91);
}
#banner-container img{
    float: right;
    margin-top: 50px;
    width: 46%;
}
#banner-content{
    width:37%;
    margin-left:12.7%;
    padding-top:100px;
}
#banner-content h2{font-size:25px;}
.title-banner{
    font-size: 37px;
    color:#fff;
    margin: 0;
    margin-left:-2px;
    margin-bottom:20px;
}
.text-banner  {
    color: #fff;
    font-size: 18px;
    line-height: 25px;
}
a.btn--oxford {
    line-height: 45px;
    text-decoration: none!important;
}
.btn--blue {
    border: 1px solid #c9dff2;
    border-radius: 6px;
    color: #000;
    box-shadow: 0 1px 2px #79b8ff;
    background-color: #79b8ff;
}
.btn--oxford {
    border: none;
    height: 45px;
    padding: 0 20px;
    display: inline-block;

}
.btn--blue:hover{
    background-color: #2a6496;
    color:black;
}
/*---------details-bar----------*/
#details-bar{
    width: 100%;
    height:70px;
    background: rgba(125,166,207,0.91);
}
.pull-right{
    float: right;
    margin-right: 50px;
}
.api-detail-btn {
    display: inline-block;
}
.btn--teal:active, .btn--teal:hover {
    background-color: #004b50;
    font-weight: 400;
    color: #FFF!important;
    border: none;
}
.btn--teal {
    background-color: #008272;
    color: #FFF!important;
    margin: 10px 5px;
}
.accordion{
    display: block;

}
/*------------container---------*/

#container{
    width: 75%;
    margin:0 auto;
    margin-top: 50px;
}
#supbanner-text{
    text-align: center;
    margin-bottom: 50px;
}
#supbanner-text h2,
.topic-content h2,
#price-table h2{
    color:#268abf;
}
#supbanner-text p{
    font-size:20px;
    margin-top:20px;
    margin-left:10%;
    text-align:justify;
    color:#777;

}
.selectpicker{
    margin:0;
    padding: 0;
    display:table-cell;
}
.col-lg-6{
    margin-left:-15px;
    margin-right:-15px;
}
.accordion span{
    width:50px;
}
.input-group{
    position:relative;
    display: block;
    width:100%;
    margin-top: 10px;
}
.input-group-addon:first-child {
    width:50%;
}
.collapse.accordion-content{

    margin-right: -0.4px;
    border: 1px solid #ddd;
}
/********tabs********/
.activate-tab {
    cursor: pointer;
    float: left;
    padding: 11px 20px 11px 11px;
    border-radius: 4px 4px 0 0;
    background-color: rgb(144, 121, 121);
    color: white;
    font-size: large;
}
.tab-content {
    width: 100%;
    background-color: rgba(173,173,173,0.15);
    border: none;
    height: 585px;
    overflow-y: auto;
}
.demo-codes {
    word-wrap: break-word;
    color: #2a2a2a;
    border: solid 1px #939393;
}
#tab-container{
    width:60%;
    float:left;
    margin-top: 10px;
}
#select-menu{
    width:30%;
    float: left;
    margin-right: 50px;
}

/*---------------menu-------------------*/
#menu {
    list-style:none;
    width:73%;
    margin:0 auto;
    height:43px;
    padding:0px 20px 0px 20px;
}
#menu li {
    float:left;
    display:block;
    text-align:center;
    position:relative;
    padding: 10px 35px;
    margin-top:7px;
}

#menu li:hover {
    padding: 10px 35px;
    background: #F4F4F4;
    background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));
}

#menu li a {
    color: black;
    display:block;
    outline:0;
    text-decoration:none;

}

#menu li:hover a { color: #000; }
#menu li .drop {
    padding-right:21px;
    padding-right: 21px;
}

.dropdown_4columns{
    margin:4px auto;
    margin-left: 1px;
    position:absolute;
    left:-999em; /* Hides the drop down */
    text-align:left;
    padding:10px 5px 10px 5px;
    border-top:none;
    /* Gradient background */
    background:#F4F4F4;
    background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));
}

.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}

#menu li:hover .dropdown_2columns,
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
    left:-1px;
    top:auto;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
    display:inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}

#menu h3 {
    font-size:16px;
    margin-left: -1px;
    padding-bottom:7px;
}
#menu p {
    line-height:18px;
    margin:0 0 10px 0;
}

#menu li:hover div a {
    font-size:14px;
    margin-bottom: 10px;
}
#menu li:hover div a:hover {
    color:#029feb;
}


.strong {
    font-weight:bold;
}
#menu li ul {
    list-style:none;
    padding:0;
    margin:0 0 12px 0;
}
#menu li ul li {
    font-size:12px;
    line-height:24px;
    position:relative;
    padding:0;
    margin:0;
    float:none;
    text-align:left;
    width:130px;
}
#menu li ul li:hover {
    background:none;
    border:none;
    padding:0;
    margin:0;
}
/**********accordion****************/


.accordion-item
{
    border-bottom:1px solid #E0E0E0;
}
.accordion-item-active .accordion-header-icon
{
    color:black;
}
.accordion-header
{
    background:#f2f2f2;
    padding:12px;
    cursor:pointer;
    border:1.5px solid #ddd;
    min-height:20px;
    transition:.25s;
    border-radius:4px;
    margin-top: 20px;
    box-sizing: initial;
}
.accordion ul{
    width:100%;
    margin-top: -12px;
    margin-left: 1px;
}
.accordion ul li{

    padding:12px 10px;
    padding-left: 15px;
    cursor:pointer;
    border:1px solid #ddd;
    min-height:20px;
    transition:.25s;
    list-style: none;
    margin-left:-53px;
    margin-right:-14px;
}
.accordion ul li:hover{
    background: #f2f2f2;
}
.accordion ul li a{
    text-decoration: none;
    color:black;
}
.accordion-header h1
{
    float:left;
    font-size:18px;
    font-weight: normal;
    margin:0;
    line-height: 1.3em;
    color:#212121;
}



.seo h1 {
    font-size: 37px;
    color: #fff;
    margin: 0;
    margin-left: -2px;
    margin-bottom: 20px;
}
.accordion-header .seo .h1 {
    float: left;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    line-height: 1.3em;
    color: #212121;
}
.topic-content .seo .h2 {
    margin-top: 70px;
}
#supbanner-text .seo .h2, .topic-content .seo .h2, #price-table .seo .h2 {
    color: #268abf;
}






.accordion-content
{
    display:none;
    padding:12px;
    color:#212121;
    background:#FFF;
    font-size:15px;
    line-height:1.45em;
    margin-bottom: -1px;
    margin-right: 3px;
}
.accordion-content p
{
    margin:0;
    margin-bottom: 3px;
}
.accordion-header-icon
{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    float:right;color:#888;
    font-size: 15px;
    vertical-align: middle;
}
.collapse .accordion-content{
    padding: 0;
}
#topics{
    margin-top:800px;
    width:100%;
    height:300px;
    background-color: rgba(135,173,210,0.17);
}
.topic-content{
    width:50%;
    border:1px solid transparent;
    display:block;
    margin: 0 auto;
    margin-left:12.3%;
    margin-top:50px;
}
.topic-content h2 {margin-top:70px;}
.topic-content p{font-size: 20px;}
#topics img,#topics2 img{
    float:right;
    margin-top:-184px;
    margin-right:11.5%;
}
#topics p,#topics2 p{
    margin-top:15px;
    color:#777;
}
#topics2{
    background: white;
    width:100%;
    height:300px;
    margin-top:-50px;
}
#topics img,#topics2 img{
    width:250px;
    height:250px;
}
/*------------price table-------*/
#price-table{
    background-color: rgba(135,173,210,0.17);
    margin-bottom:70px;
}
#btn-bottom{
    margin-left:41%;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
}
.bottom-fix{
    background: none repeat scroll 0 0 rgba(125,166,207,0.91);
    width: 100%;
    height: 53px;
    color: #fff;
    line-height: 53px;
    text-align: center;
}
.box-from-list{
    float:left;
    width:100%
}

#title-json {
    float:left;
    width:70%;
    margin-left:120px;
    margin-top:-80px;
    font-size:20px;
}
.box-from-list{display:block;}
.title-json {margin-left:10px}
.img-json {
    float: left;
    max-width: 120px;
    max-height: 92px;
    margin-bottom: 25px;
    width: 120px;
}
.description-json,.title-json{
    padding-left:10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 806px;
    float: right;
}
.img-json-block{
    max-width: 120px;
    max-height: 98px;
    float:left;
    text-indent:-999px;
}
#img-json-block{
    width:120px;
    float:left;
    text-indent:-999px;
}
.secound-description-json,.title-json1{
    padding-left: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 80%;
}
.loader {
    margin:0 auto;
    margin-top:250px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/* Advertise Page */
#wrapper { min-height: calc(100% - 266px); }

#wrapper h1 { margin-bottom: 30px; }

#logo-block {
    width: 400px;
    margin: 0 auto;
}

#company-list { position: relative; }

#company-list .btn {
    margin: 0 0 0 20px;
    min-width: 65px;
}

#company-list .btn[name="remove"] { min-width: 26px; }

#company-list .btn-keyword-add {
    margin: 0;
    min-width: inherit;
}

.edit-message { float: right; }

.edit-message.status_200 { color: green; }

#company-list .add-pay-status {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

#company-list .cxb-add-pay-status { display: inline-block; }

#company-list .label-add-pay-status {
    color: #ff0e00;
    font-size: 14px;
}

#company-list .snippet-lock-status {
    display: inline-block;
    margin-right: 50px;
}

#company-list .panel { position: relative; }

#company-list .panel.snippet {
    float: left;
    width: 100%;
}

#company-list .panel-heading { position: relative; }

#company-list .panel-heading .panel-title {
    width: 60%;
    margin: 0 auto;
}

#company-list .panel-heading .panel-title:hover { cursor: pointer; }

#company-list .panel-heading .btn-edit {
    position: absolute;
    cursor: pointer;
    right: 68px;
    margin-top: -8px;
    top: 50%;
}

#company-list .panel-heading .btn-close {
    position: absolute;
    cursor: pointer;
    right: 10px;
    margin-top: -9px;
    top: 50%;
}

#company-list .panel-heading .btn-close:hover { color: red; }

#company-list .panel-heading .btn-edit:hover { color: #d9edf7 }

#company-list .campaign{
    position: relative;
    overflow: hidden;
    width: 100%;
}

#company-list .panel{
    position: relative;
    font-size: 14px;
}

#company-list .panel-default {
    font-size: 14px;
    position: relative;
}

#company-list .panel-default.no-width {
    float: none;
    width: 100%;
    margin: 0 auto 20px 0;
}

#company-list .alert-mystyle {
    float: left;
    width: 35%;
    position: relative;
}

#company-list .panel-footer {
    text-align: right;
    padding: 5px 15px;
    position: relative;
    min-height: 30px;
}

#company-list .panel-footer .btn-keywords-calc { float: left; }

#company-list .panel-footer .result {
    display: inline-block;
    min-height: 34px;
    line-height: 34px;
}

#company-list .panel-heading { padding: 5px 15px; }

#company-list .panel form label {
    font-weight: normal;
    font-size: 14px;
}

#company-list .keywords-group { margin: 20px 0 0 0; }

#company-list .keywords-group .checkbox label { width: calc(100% - 70px); }

/*
	#company-list .body-snippet .keywords-group .checkbox .btn-keyword-calc { font-size: 12px; }
*/
#company-list .keywords-group .checkbox span.price {
    float: right;
    font-weight: bold;
}

#company-list .panel-footer span.price { font-weight: bold; }

#company-list .keywords-group .checkbox label{
    width: calc(100% - 70px);
}

#company-list .keywords-group .checkbox .btn-keyword-calc{
    font-size: 12px;
}

#company-list .form-group{
    position: relative;
    width: 100%;
}

#company-list .input_keyword_title {
    display: inline-block;
    margin: 6px 0 4px;
    font-size: 14px;
}

#company-list .input-keyword { width: calc(100% - 52px); }

#company-list .list-of-keywords,
#company-list .file-keywords { margin-top: 8px; }

.payed{
    color: #0b7500;
}
.unpayed{
    color: #ed8d00;
}
.color-red {
    display: inline-block;
    margin-top: 8px;
    color: red;
}

.list-of-keywords {
    width: 100%;
    min-height: 150px;
    margin-top: 8px;
}

.new_ad {
    margin-bottom: 15px;
    text-align: right;
}

#insert_list { width: 100%; }

.input-file-keywords { width: 50%; }

[name="submit_file"] {
    margin-top: 10px;
    float: right;
}

#bs-example-navbar-collapse-1 { margin: auto; }

.body-tools {
    text-align: right;
    margin: 0 0 10px 0;
}

.panel-footer.pay-now .info-now {
    float: left;
    margin-top: 6px;
}

.curved-parent {
    float: right;
}

.curved-parent img.curved {
    max-height: 32px;
    margin: 0 0 4px 4px;
    cursor: pointer;
}

#user-profile{
    position: absolute;
    width: 400px;
    text-align: right;
    right: 25px;
    top: 20px;
}

#user-profile-list{
    list-style-type: none;
    padding: 0;
}

#user-profile-list .user-name { color: white; }

.reserved { color: #ea7b26; }
.error-message { color: red; }

#change-password-form label{
    font-size: 14px;
    font-weight: normal;
}
#change-password-form button{
    min-width: 60px;
    font-size: 13px;
    padding: 2px 5px;
}
#change-password-form button:first-of-type{
    margin-right: 15px;
}
#change-password-form input {
    height: 30px;
    padding: 3px 10px;
    font-size: 14px;
    border-radius: 3px;
}

#change-password-form .text-danger{
    color: red;
    font-size: 12px;
}

.header .alert {
    position: absolute;
    right: 24px;
    top: 140px;
}

.snippet-message{
    float: left;
    display: inline-block;
    margin: 0 20px;
    line-height: 38px;
}

#campaign-message{
    display: inline-block;
    margin-right: 50px;
}

#payForm .payment_form_info{
    margin-bottom: 40px;
}

#payForm label{
    margin: 12px 0 0;
    font-size: 14px;
    font-weight: normal;
}

#payForm .payment_form_info strong{
    color: #ff7c00;
}

.popover .body{
    font-size: 14px;
}
.popover .footer{
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.popover .btn{
    padding: 2px 5px;
}
#ads_vertical2{
    color: #fff;
    margin-top: 20px;
    margin-right: 20px;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn.btn-popover-close { margin-left: 2px; }
