@charset "utf-8";

/* Fave List*/
.faves-list{
  display: inline-block;
  list-style:none;
  margin: 0;  
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
.faves-list li{  
  position: relative;
  list-style: none;
  float: left;
}
.faves-list li:nth-child(1n+1) {
  margin-right: 20px;
  margin-bottom: 20px;
}

.faves-list li a img{
  width:70px;
  height:25px;
}
.faves-list .video-item a img{
  display:block;
  width:102px;
  height:80px;
}
.faves-list .video-item{
  border: none !important;
  padding: 0 1px 0 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  width: 25%;
}
.faves-list .video-item .title{
  text-align: center;
}
.faves-list .video-item .title .caption {
  height: 36px;
  overflow: hidden;
}
.faves-list .video-item .title .link {
  height: 18px;
  overflow: hidden;
}
.faves-list .video-item:last-child{
  padding-right: 0;
}
.faves-list.other{
  margin-bottom: 0 !important;
}

.faves-list h3 {
  margin-bottom: 5px !important;
  padding: 0;
  font-size: 18px;
}

/* FAVES */
.faves ul{
  padding: 0;
  width: 100%;
}

.faves ul.nav{
  margin-top: 0 !important;
  margin-bottom: 20px;
}

#faves-tabs .nav-tabs li a{
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.faves ul li{
  display: inline-block; 
  position: relative;
  float: left;
  list-style: none;
}

.faves .blogblock{
  position: relative;
  width: 105%;
}

.faves .blogblock .symad{
  top: 10px;
  right: 25px;
}

.faves .tab-content ul li a img{
  width:70px;
  height:25px;
}

#favesblock{
  width: 105%;
}

#favesblock .faves{
  margin-bottom: 25px;
}

#favesblock .faves .faves-block{
  margin-bottom: 25px;
}

#favesblock .faves-list{
  margin-bottom: 25px;
}

#favesblock .faves-list .shm{
  float: right;
  border: none;
  margin: 0 25px;
  color: blue;
}
#favesblock .faves-list .shm:hover{
  cursor: pointer;
}

#favesblock .faves-list{
  margin-bottom: 0;
}

#tabs .tab-content{
  width: 105%;
}