@charset "UTF-8";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

section, article { display: block; }

.no-mp {
	margin: 0 !important;
	padding: 0 !important;
}

#search-text {
	position: relative;
	width: 100% !important;
   /* text-align: center;*/
}

#breaking{
    display: none;
   /* margin-bottom: 25px;*/
    margin-top: 20px;
}

#sec01,
#sec02 {
    position: relative;
    text-align: center;
    width: calc(100% - 20px) !important;
    margin: 0;
    /* margin-top: 20px; */
    right: -18px;
    clear: both;
}

#sec01 .simart {
	display: inline-block;
	margin: 10px 5px 30px 20px;
	max-width: 520px;
}

#sec01 .simart .inner {
	margin: 0 0 20px 0;
	text-align: left;
}

#sec01 .simart .art-title {
    margin: 0;
    height: 18px;
    font-size: 16px;
    color: blue;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#sec01 .simart .art-title a { color: blue; }

#sec01 .simart .art-descr {
    margin: 0;
    max-height: 42px;
    overflow: hidden;
    text-align: justify;
}

#sec01 .simart .simart-splink{
    position: relative;
    text-align: left;
    margin: 0 0 10px 0;
    color: #777
}

.sec,
.sec1 {
    position: relative;
    margin: 0 auto;
    text-align: center;
}



.art {
    display: inline-block;
    background: #fff;
    border-radius: 6px;
    width: 220px;
    vertical-align: top;
   /* margin: 10px 0px 30px 0px;*/
}

.art .inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.art-title {
    margin: 20px 10px;
    font-size: 16px;
    max-height: 33px;
    text-align: center;
    overflow: hidden;
    color: #555;
    font-family: "MyriadPro";
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}
.art-title.full {
  max-height: 82px;
  -webkit-line-clamp: 5;
}
.art-title.hide-title {
  max-height: 82px;
  -webkit-line-clamp: 5;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.art-title a {
    color: #555;
}

.art-descr {
    margin: 0 10px;
    overflow: hidden;
    text-align: justify;
    color: #555;
    max-height: 98px;
    position: absolute;
    opacity: 0;
    margin-bottom: 10px;
}

article.art:hover .art-descr{
    max-height: 58px;
}

.art-footer {
    /*height: 46px;
    border-top: 1px solid #e7e7e7;*/
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
}
article .header_wrap {
  position: relative;
  min-height: 30px;
}

.art-footer .art-sublink {
    color: #555;
    display: flex;
    padding: 5px 10px;
  justify-content: center;
}
.art-footer .art-sublink .pub-date{
    white-space: nowrap;
    margin-right: 10px;
}

.art .img {
    position: relative;
    text-align: center;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
}

.art .img.fave img {
  width: 80%;
  margin-top: 15px;
}

.art .img img {
    display: inline-block;
    border: 0;
    border-radius: 6px;
    max-width: 234px;
    max-height: 254px;
}
.inner a:hover {text-decoration: none;}
.art-title:hover {text-decoration: underline !important;}
.art .img img.fade {
    transition: opacity 0.04s linear;
}

.art:hover {
    cursor: pointer;
    border: 1px solid rgba(23, 89, 210, 0.89);
    -webkit-box-shadow: 0 1px 2px 0 rgba(23, 89, 210, 0.99);
    box-shadow: 2px 2px 3px 0 rgba(23, 89, 210, 0.99);
}

.pub-link {
    color: green;
    text-align: left;
    overflow: hidden;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.modal-content .pub-link {
    text-align: center;
}
.pub-link {
    color: green;
}

.highlight_gray,
.highlight_blue {
    border: 1px solid rgba(80, 139, 247, 0.46);
    -webkit-box-shadow: 0 1px 2px 0 rgba(80, 139, 247, 0.46);
    box-shadow: 1px 1px 2px 0 rgba(80, 139, 247, 0.46);
    transition: .2s ease-in-out;
}

.bistroe-reshenie {
    background: #297beb;
    width: 40%;
    height: 1px;
    margin: 60px 30% 30px;
    cursor: default !important;
    box-shadow: none !important;
    top: 0 !important;
}

.bistroe-reshenie:hover {
    border: none;
    box-shadow: none !important;
}

#also2 {
    /* margin: 0 auto; */
    width: calc(100% - 20px);
    /* width: 100%; */
    box-shadow: none;
    padding: 0;
    right: -18px;
    margin-bottom: 27px;
    /* margin-right: 10px; */
    max-width: 1150px;
}
#also1{
    /* margin: 0 auto; */
    box-shadow: none;
    padding: 0;
    max-height: 36px;
    max-width: calc(100% - 250px);
    overflow: hidden;
}

#also2.two-slides {
    display: block;
    width: 100%;
    margin-top: -16px;
	overflow: auto;
}

#also2.two-slides > div {
    float: left;
}

#also2.two-slides > div:first-child {
    margin-right: 9px;
}

#also1:hover, #also2:hover {
    cursor: pointer;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.pages.ct {
    margin: 30px 0 20px 0;
}
#also2 .fv_block {
    width: 140px !important;
   /* margin-right: 20px;*/
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;
    height: 140px;
    overflow: hidden;
}
#also2 .fv_block a {
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 35px 10px 7px 10px;
    display: inline-block;
}
#also2 .fv_block img {
    width: 100%;
    height: auto !important;
}
#also2 .fv_block a:hover{
    text-decoration: none;
}
#also2 #pages .slick-arrow{
    height: 164px;
}
#also2 #pages.one_slider{
    max-height: 165px;
}
#also2 #pages #also2 .slick-slide img {
    display: block;
    height: 56px;
    margin-bottom: 10px;

}
#also2 #pages .slick-arrow > i.glyphicon{
    top: 41%;
}
#pages .parent_div_for_faves {
    margin-bottom: 40px;
    display: flex;
}
#more_pages{
    display: block;
}
#pages .fv-descr {
    font-family: "MyriadPro";
    font-size: 14px;
    width: 100%;
    display: block;
    max-height: 40px;
    overflow: hidden;
    color: #000;
    text-align: left;
    margin-bottom: 0;
}
#pages .fv-descr-cont {
    max-height: 140px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    padding-top: 3px;
    width: 100%;
    left: 0;
    color: #fff;
    padding-left: 3px;
    padding-right: 3px;
    background: #fff;
}
#pages .fv-url {
    color: green;
    border-top: 1px solid #e7e7e7;
    padding-top: 7px;
}
#related-title {
    margin: 0 auto;
    padding: 10px 8px 0 18px;
   /* margin-bottom: 15px;
    margin-top: 15px;*/
    line-height: 36px;
    width: 95%;
    display: none;
}

#related-text {
    display: inline-table;
    font-size: 16px;
    /* margin: 0 auto; */
    min-width: 100px;
    margin-right: 30px;
}

#filter-tools {
    padding: 0 5px;
}

#fpagetitle {
    top: 18px;
    margin-right: 15px;
    float: left;
    display: inline-block;
}

#fpagetitleimg {
    position: relative;
    display: inline-block;
}
#fpagetitleimg a {
  text-decoration: none;
}
#fpagetitleimg img {
    height: 38px;
    position: relative !important;
    top: -7px;
}

#filterbar {
    position: absolute;
    display: inline-block;
    right: 0;
    line-height: 42px;
}

.fm-popover {
	display: inline-block;
	max-width: 560px;
	border-radius: 0;
	overflow: hidden;
	position: relative;
}

.fm-popover h3 { margin: 6px 0 0 0; }

.fm-popover form,
.fm-popover ul.time-filter {
    float: left;
    display: inline-block;
    height: 435px;
}

#form_by_data_source {
    width: 583px;
    overflow-x: auto;
}

#languages { width: 130px; }


#languages button[type="button"].btn { width: 120px; }

#specify-date {
}

#specify-date .glyphicon {
	top: 2px;
	line-height: 0;
}

#btn-date-apply {
    width: 100%;
}

.fm-popover .form-check {
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
    width: 222px;
    margin-right: 15px;
    display: inline-block;
}

.fm-popover .dropdown > a { font-size: 14px; }

.fm-popover h5 { margin-top: 0; }

.fm-popover hr { margin: 10px 0; }

.fm-popover form#languages .country-list { margin: 0; }

.fm-popover hr { margin: 10px 0; }

.fm-popover .dropdown-menu { min-width: 260px; }

.form-check label, .fm-popover label {
    color: #428bca;
    font-weight: normal;
    height: 100%;
    margin-bottom: 0;
    width: 98%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;
}

.fm-popover .form-check-input {
    margin: 0 8px 0 0;
    vertical-align: middle;
}

#fm-popover .btn {
    display: inline-block;
    border-radius: 4px;
    font-size: 13px;
    padding: 4px 8px;
    min-width: 80px;
    height: 26px;
}

/* cross browser checkbox and radio size and align */
#fm-popover input[type=checkbox], input[type=radio] {
    vertical-align: -2px;
    padding: 0
}

#fm-popover a:hover {
    cursor: pointer;
}

#fm-popover .form-check {
    height: 22px;
    line-height: 22px;
    overflow: hidden;
}

#list .img-list li img {
    vertical-align: middle;
    display: inline-block;
    float: left;
    margin: 5px;
}

/* RSS FILTER SLIK SLIDER SECTION */

#carousel-block .slick {
    width: 100%;
    margin: 0;
    padding: 0;
}

#carousel-block .slick .slick-list {
    z-index: 1;
}

#carousel-block .slick img {
    display: block;
    max-width: 106px;
}

#carousel-block .slick-slide {
    max-height: 52px;
    margin-bottom: 25px;
}

#carousel-block .slick-slide > div {
    float: left;
    width: 126px;
    margin: 0 5px;
    padding: 6px 0;
}

#carousel-block .slick-slide a.fv {
    display: block !important;
    background: #fafafa;
    width: 126px !important;
    padding: 5px 10px;
    color: #a3a3a3;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0 1px 5px #9c9c9c;
}

#carousel-block .slick-slide a.fv > img {
    display: block;
    width: 100%;
}

#carousel-block .slick .slick-arrow {
    background: transparent;
    display: inline-block;
    width: 35px;
    height: 40px;
    padding: 0;
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
    position: absolute;
    top: 6px;
    cursor: pointer;
}

#carousel-block .slick .slick-disabled {
    display: none !important;
}

#carousel-block .slick .slick-arrow:hover,
#carousel-block .slick .slick-arrow:focus,
#carousel-block .slick .slick-arrow:active {
    background: #fff;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    opacity: 1;
    text-decoration: none;
}

#carousel-block .slick .slick-arrow > i.glyphicon {
    color: #999;
    font-size: 13px;
    top: 1px;
}

#carousel-block .slick .slick-arrow.slick-prev {
    float: left;
    left: -28px;
    text-align: right;
}

#carousel-block .slick .slick-arrow.slick-prev:hover,
#carousel-block .slick .slick-arrow.slick-prev:focus,
#carousel-block .slick .slick-arrow.slick-prev:active {
    padding-right: 7px;
    left: -30px;
    border-left-width: 1px;
    border-radius: 2px 0 0 2px;
}

#carousel-block .slick .slick-arrow.slick-prev > i.glyphicon {
    margin-right: 3px;
}

#carousel-block .slick .slick-arrow.slick-next {
    float: right;
    right: -28px;
    text-align: left;
}

#carousel-block .slick .slick-arrow.slick-next:hover,
#carousel-block .slick .slick-arrow.slick-next:focus,
#carousel-block .slick .slick-arrow.slick-next:active {
    padding-left: 7px;
    right: -30px;
    border-right-width: 1px;
    border-radius: 0 2px 2px 0;
}

#carousel-block .slick .slick-arrow.slick-next > i.glyphicon { margin-left: 3px; }

#also2 .izslik {
    font-family: Helvetica, Verdana, Arial sans-serif;
    /*max-height: 190px !important;*/
    overflow-y: hidden;
}

#also2 .izslik .slc {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    width: 140px !important;
}

#also2 .izslik .slc a img {
	width: 140px;
	margin: 0 auto;
}

#also2 .h20 {
    width: 140px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5px;
    color: #000;
    font-size: 13px;
    text-align: center;
    bottom: 0;
    overflow: hidden;
}
#also2 .h20.bottom {
    align-items: flex-end !important;
}
#also2 .h20:hover { text-decoration: none; }

#also2.two-slides .h20 {
    display: block;
    max-width: 100%;
	height: 40px !important;
    /*
		height: 20px !important;
		text-overflow: ellipsis;
		white-space: nowrap;
	*/
}

#also2 h2 {
    color: #297beb;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    width: auto;
    height: 0;
    margin: 15px 0 10px 0;
    text-transform: uppercase;
}
.info_icon{
    float: left;
    margin: 10px 10px 10px 8px;
    top: 0;
    font-size: 16px;
    color: #6c6c6c;
}
/*#also2 a.plitka {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    width: 140px;
    height: 140px;
    padding: 0;
    color: #fff;
    text-decoration: none;
    text-align: left;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-top: 10px;
}

#also2 a.plitka .snuggle {
    display: block;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 82%, transparent 100%);
    max-height: 140px;
    padding: 3px 0;
    position: absolute;
    top: 78px;
    left: 0;
    right: 0;
    bottom: auto;
    transition: top 0.6s ease;
}

#also2 a.plitka .snuggle > h6 {
    max-height: 96px;
    margin: 0;
    padding: 0 4px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    overflow: hidden;
}*/
#also2 .date-initialize {
    font-size: 13px;
    font-weight: 400;
    margin-left: 5px;
    margin-top: -3px;
}
#also2 a.plitka .domain {
    display: block;
    height: 18px;
    margin: 1px 0;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 18px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0.9;
    padding: 0 4px;
}

#also2 a.plitka .description {
    margin: 0;
    font-size: 12px;
    padding: 0 4px;
}

#also2 .slick-arrow {
    position: absolute;
    bottom: 0;
    background: #f2f2f2;
    width: 35px;
    height: 140px;
    padding: 0;
    border: 0 none;
    font-size: 16px;
    font-weight: bold;
    z-index: 9;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.6s ease 0s;
}

#also2 .slick-arrow:hover,
#also2 .slick-arrow:focus,
#also2 .slick-arrow:active {
    background: #f2f2f2;
    text-decoration: none;
    opacity: 1;
}

/*#also2 .slick-slide {width: 140px !important;}*/

#also2 .slick-slide img {
    display: block;
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
}
#also2 .slick-slide .landscape img {
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

#also2 .slick-slide .portrait img {
    width: 100%;
    height: auto;
}

#also2 .slick-arrow.slick-next {
    right: 0;
}

#also2 .slick-disabled {
    display: none !important;
}

#also2 .slick-arrow > i.glyphicon {
    display: block;
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 13px;
    position: absolute;
    top: 45%;
    left: 10px;
}

#popular, #trending, #top {
    /*display: none;*/
}

.paren-div-for-slides {
	margin-bottom: 10px;
	/*max-height: 190px !important;*/
	font-family: Helvetica, Verdana, Arial sans-serif;
	overflow-y: hidden;
    max-height: 194px;
    clear: both;
}

.paren-div-for-slides > div.slc {
	position: relative;
	display: inline-block;
	margin-right: 5px;
}

.paren-div-for-slides > div.slc a img {
	width: 140px;
	margin: 0 auto;
}

/*.slc.slick-slide.slick-active { width: 140px !important; }*/
/* AMAZON SLIDER */

#amazon {
    font-family: Helvetica, Verdana, Arial sans-serif;
    max-width: 100%;
    position: relative;
    max-height: 160px;
    margin: 0 auto;
    display: none;
    margin-bottom: 20px;
    clear: both;
    overflow: hidden;
    padding-left: 18px;
}

#amazon .izslik {
    height: 100%;
   /* width: 100%;*/
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: center;
}


#amazon .slick-track {
    position: relative;
    width: initial !important;
    height: 138px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#amazon .slc {
    position: relative;
    display: inline-block;
    padding: 0;
    width: 125px !important;
    margin-bottom: 30px;
    height: 125px;
    margin-right: 16px;
}

#amazon .plitka {
    display: inline-block;
    /*background: #6d6b6b;*/
    border-radius: 6px;
    height: 100%;
    width: 125px;
    text-decoration: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

#amazon .plitka img {
    display: unset;
    text-indent: -999px;
    width: 100%;
}

#amazon .ads-price-block {
    color: #428bca;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
}

#amazon .ads-brand {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 0;
    background: #f5f5f5;
    height: 14px;
    width: 125px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#amazon .star-img img {
    width: 10px;
    height: 10px;
}

#amazon .snuggle {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.81) 100%, rgb(0, 0, 0) 100%);
    display: block;
    max-height: 180px;
    padding-top: 3px;
    width: 100%;
    position: absolute;
    transition: top 0.6s ease;
    bottom: 14px;
    z-index: 99;
}

#amazon .snuggle h6 {
    font-size: 14px;
    line-height: 1.1em;
    padding: 0 5px;
    overflow: hidden;
    margin-top: 2px;
    max-height: 29px;
    margin-bottom: 0;
}

#amazon .slick-arrow {
    position: absolute;
    bottom: 0;
    background: #f2f2f2;
    width: 30px;
    height: 133px;
    padding: 0;
    border: 0 none;
    font-size: 16px;
    font-weight: bold;
    z-index: -1;
    cursor: pointer;
    opacity: 0;
    transition: all 0.6s ease 0s;
}

#amazon .slick-arrow > i.glyphicon {
    display: block;
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 13px;
    position: absolute;
    top: 42%;
    left: 9px;
}

#amazon .slick-next {
    right: 0;
}

#amazon .slick-prev {
    left: 0;
}

#amazon .ads-title{
    position: absolute;
    right: 59px;
    font-size: 10px;
    z-index: 3;
    float: right;
    color: #777;
    bottom: -25px;
}

#amazon .pb{
    width: 100%;
    background: #f5f5f5;
    z-index: 200;
    max-height: 26px;
}

.slick-disabled {
    display: none !important;
}

/*@media (max-width: 1999px) and (min-width: 1750px) {
    .sec, #related-title {
        width: 1750px;
    }
}

@media (max-width: 1750px) and (min-width: 1500px) {
    .sec, #related-title {
        width: 1500px;
    }
}

@media (max-width: 1500px) and (min-width: 1300px) {
    .sec, #related-title {
        width: 1250px;
    }
}

@media (max-width: 1300px) and (min-width: 1000px) {
    .sec, #related-title {
        width: 1000px;
    }
}*/

/*dinamicescaia smena nadpisi pod straku zaprosa*/
.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}
#fade-quote-carousel.carousel {
    padding-bottom: 32px;
    position: absolute;
    margin: 0 auto;
}
#fade-quote-carousel.carousel .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
    opacity: 1;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
    bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
    background-color: #eee;
    border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
    font-size:15px;
    padding:0;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
.event-name a{
    text-decoration:underline;
    color:#333;
}
.event-name a[href^="/"]{
    color:#428bca;
}

#elements span { display: none; }
#carousel {
    display: none;
    height: 23px;
    /* margin-bottom: 15px; */
    margin: 0 auto;
    text-align: center;
    width: 250px;
    left: 50px;
    top: -25px;
    overflow: hidden;
}
.visible {
    display: block !important;
}
.event-name span{
    font-size:18px;
    color: #333;
}

.ct > .popover {
    position: relative !important;
    color: #6c6c6c;
    padding-top: 1px;
}
.embolded{
    color: black;
}
.dialogModal_body .inner {
    height: 100%;
    display: inline-block;
    background: #fff;
    border-radius: 6px;
    max-width: 65%;
    font-size: 17px;
    margin-bottom: 40px;
    vertical-align: top;
    /* float: left; */
}
.dialogModal_body .img img {
    display: inline-block;
    border: 0;
    border-radius: 6px;
    max-width: 100%;
    max-height: 545px;
    left: 0;
}

.dialogModal_body .art-descr {
    margin: 0 10px;
    max-height: 100% !important;
    text-align: justify;
    color: #555;
    display: none;
}
.cont_top {
    font-family: Helvetica, Verdana, Arial sans-serif;
    max-width: 89%;
    position: initial;
    overflow: hidden;
    max-height: 143px;
    margin: 0 auto 40px auto;
}
.cont_top .slc {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}
.cont_top .plitka {
    display: inline-block;
    border-radius: 6px;
    height: 138px;
    width: 120px;
    text-decoration: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.cont_top .ads-brand {
    position: absolute;
    display: inline-flex;
    bottom: 0;
    z-index: 9999;
    left: 35px;
}
.cont_top .ads-title{
    position: absolute;
    right: 59px;
    bottom: -20px;
    font-size: 10px;
    z-index: 3;
    float: right;
    color: #777;
}

.cont_top .pb{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 200;
    height: 26px;
}
.cont_top .star-img img {
    width: 10px;
    height: 10px;
}

.cont_top .snuggle {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.81) 100%, rgb(0, 0, 0) 100%);
    display: block;
    max-height: 180px;
    padding: 3px 0;
    width: 100%;
    position: absolute;
    transition: top 0.6s ease;
    top: 76px;
    z-index: 99;
}

.cont_top .snuggle h6 {
    font-size: 14px;
    line-height: 1.1em;
    padding: 0 5px;
    overflow: hidden;
    margin-top: 2px;
    max-height: 120px;
}
.cont_top  .plitka img {
    display: unset;
    text-indent: -999px;
    width: 100%;
}
.title4url, .linkId{display:none;}
.cont_right .simart {
    display: inline-block;
    width: 100%;
}

.cont_right .simart .sim {
    margin: 0 0 20px 0;
    text-align: left;
}

.cont_right .simart .art-title {
    margin: 0;
    height: 18px;
    font-size: 16px;
    color: blue;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cont_right .simart .art-title a { color: blue; }

.cont_right .simart .art-descr {
    margin: 0;
    max-height: 42px !important;
    overflow: hidden;
    text-align: justify;
}

.cont_right .simart .simart-splink{
    position: relative;
    text-align: left;
    margin: 0 0 10px 0;
    color: #777
}

.cont_right{
    display: inline-block;
    margin-right: 30px;
    width: 30%;
    float: right;
}
.dialogModal_body .inner .art-title{
    color:blue;
    font-size: 20px;
    max-height: 100%;
    overflow: visible;
}
.CloseContainer{
    width:120%;
    height:100%;
    z-index: -99999;
    right:-10%;
    background: rgba(0,0,0,0.7);
    opacity: 1;
}
.CloseContainer:hover{opacity:1}

#carousel-block ul.nav.navbar-nav {
    border-left: 1px solid #cecece;
    /* border-right: 1px solid #777; */
}
#carousel-block  ul.nav.navbar-nav:last-child {
    border-right: 1px solid #cecece;
}
#carousel-block .dropdown-menu {
    border-top: none;
    background: linear-gradient(#fff, #f5f5f5);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    margin-left: -1px;
   /* padding: 0 10px;*/
}
#carousel-block .pull-right {
    margin-right: -1px;
    max-width: 640px;
}
#left_block i,
#right_block i {
    margin-right: 8px;
}
#right_block .dropdown-menu >li {
    float: left;
}
#right_block .dropdown-menu .tab-content{clear: both;}
/*ul.dropdown-menu.pull-right.filter-point {
    width: auto !important;
}*/

.filter-point ul > li {
    border-right: 1px solid #cecece;
    margin-top: -4px;
}
.filter-point ul > li.active a {
    border: none !important;
    background-color: #eee !important;
}
.filter-point ul > li a {
    margin-right: 0;
}
#carousel-block .navbar-nav >li a {
    padding: 10px;
}
#latest .radio {
    color: #428bca;
    padding-left: 15px;
}
#source_filter.fm-popover{
    max-width: 100%;
    overflow-y: auto;
    padding: 15px;
}
.hide_button{
    display: none;
    font-weight: 700;
    position: absolute;
    font-size: 14px;
    color: #167ac6;
    z-index: 10;
    line-height: 0;
    margin-top: 20px;
    right: 0;
    margin-right: 20px;
}
.trigger_click{display: block;}
.one_slider{
    max-height: 195px;
    overflow: hidden;
    clear: both;
}
#latest-form label {
    color: #428bca;
}
#fpagetitleimg img.title_icon{
    height: 38px;
    padding-right: 5px;
}
.moreMenu_title {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5px;
    color: #777;
}
.query_hints {
    top: 11px;
    width: inherit;
}
#top_query{
    /*position: absolute;
    top: 10px;
    left: calc(100% + 70px);
    width: 150px;*/
}
#top_query .all_items {
    position: absolute;
    height: 37px;
    width: 65px;
    line-height: 36px;
    font-size: 16px;
    color: #297beb;
    border-right: 1px solid #ccc;
    cursor: pointer;
    padding: 0 5px;
}
#top_query .all_items span {
    font-size: 12px;
}
#top_query .all_items i {
    font-size: 10px;
    font-weight: bold;
}
.query_hints .menu-title {
    padding: 8px 25px 8px 8px;
    border: 1px solid #ccc;

    font-size: 14px;
    color: #316cca;
    border-left: none;
    border-right: none;
    /*width: 110px;*/
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.query_hints .menu-title::before{
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    bottom: 8px;
    width: 1px;
    background-color: #ccc;
}
.query_hints .dropdown-toggle.menu-title.active {
    color: black;
}
.query_hints  i.menu-title-i {
    position: absolute;
    right: 6px;
    top: 12px;
    color: #316cca;
}
#top_query .left-block {
    float: none;
    width: 150px;
}
#top_query .tab-content {
    width: 450px;
}
#top_query .dropdown-menu{
    display: flex;
    padding: 0;
    /* left: -248px; */
    position: absolute;
    top: 35px;
    width: 603px;
}
#top_query .left_cont{
    border-right: 1px solid #ccc;
    background: #fff;
}
#top_query .left_cont > li a{

}
.query_hints .list_content li {
    width: 150px;
    float: left;
    background: #fff;
}
.input_value i {
    display: none;
    margin-right: 5px;
    color: #000;
    /* margin-left: -10px; */
}
.input_value.active i {display: inline}
.input_value.active{
    background: #eee;
}
#top_query .dropdown-menu > li{
   /* width: 158px;*/
    display: inline-block;
}
#top_query.dropdown-menu > li a {
    color: #428bca;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    display: block;
}
#top_query .left_cont a {
    color: #428bca;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    display: block;
}
li.left-block.active a {
    border-radius: 0;
    margin: 0;
    background: #eee;
}
.query_hints .dropdown-menu > li span {
    color: #428bca;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    display: block;
    padding: 10px;
    cursor: pointer;
}
#top_query_list ul.dropdown-menu{
    
}
#top_query_list ul.dropdown-menu li{
    width: 159px;
    float: left;
}
#top_query .dropdown-menu > li.active a{
    border:none;
}
#top_query .dropdown-menu > li a:hover {
    background: #eee;
}
.query_hints .dropdown-menu > li span:hover {
    background: #eee;
}
/*.trending.ct,
.popular.ct,
.breaking.ct{
    display: none;
    margin-top: 15px;
    float: left;
    margin-bottom: 35px;
}*/
.title_wrap {
    /*display: flex; */
    margin-bottom: 30px;
    display: none;
}
.popular.ct {
    width: 522px;
}
.paren-div-for-slides.parent_2 {
    margin: 15px 0;
}
/*.all.ct{margin-bottom: 27px;}*/

/*relevant preloader*/


.loader{
    width: 100px;
    height: 15px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
    top: -15px;
    display: none;
}
.bistroe-reshenie .loader{
    display: block;}
.loader span{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #3498db;
    margin: 0 8px 0 0;

}

.loader span:nth-child(1){
    animation: bounce 1s ease-in-out infinite;
}

.loader span:nth-child(2){
    animation: bounce 1s ease-in-out 0.33s infinite;
}

.loader span:nth-child(3){
    animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce{
    0%, 75%, 100%{
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    25%{
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

#end_search{
    display: none;
    text-align: center;
    top: -20px;
    font-size: 16px;
    font-weight: 500;
}

.share_snippet .fa {
    font-size: 22px;
    color: #777;
}
.share_snippet ul>li {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 0;
}
.share_snippet {
    margin-bottom: -53px;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    border-radius: 5px;
    opacity: 0;
    top: 0;
    z-index: 99;
    transition: top ease-in-out 0.4s;
    position: absolute;
}
.share_snippet ul {
    margin: 0;
}
.article_parrent{
    max-width: 226px;
    margin: 0 auto;
    padding: 30px 0;
}
.carousel-inner{overflow: initial;}
.all.ct {
    margin-bottom: 10px;
    right: -18px;
    position: inherit;
    width: calc(100% - 18px);
    clear: both;
    display:none;
}
label[for=date_end],
label[for=date_start]{
    padding-left:0;
    margin-top: 5px;
}
@-moz-document url-prefix()
{
    .hide_button{margin-right: 20px !important;}
}
.photoZoom-Large .title {
    display: block;
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
}
.photoZoom-Large .price {
    color: #428bca;
    font-weight: bold;
}
.photoZoom-Large .title h6 {
    font-size: 16px;
    padding: 10px;
    max-height: 60px;
    overflow: hidden;
    color: blue;
}
.photoZoom-Large .stars img {
    width: 16px;
    height: 16px;
    margin-bottom: 10px;
}

.wiki-block{
    display: flex;
}
.wiki-block.trending {
    width: 100%;
}
.wiki-block.trending .slick-list {
    min-width: 100% !important;
}
.wiki_item .img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.wiki_item {
    text-align: center;
}
.wiki_item a{
  display: block;
  width: 125px !important;
}
.wiki_title {
    font-size: 12px;
    font-weight: bold;
    display: block;
    line-height: 14px;
    margin-top: 6px;
    margin-bottom: 15px;
}
.wiki-block.popular {
    width: 365px;
}
.wiki-block a {
    color: #333;
    text-decoration: none;
    outline: none !important;
}
.wiki-container {
    display: flex;
}
#also2 .wiki-container .slick-arrow {
    height: 105px;
    bottom: auto;
    top: 0;
    width: 90px;
    background: transparent;
}
#also2 .wiki-container .slick-arrow.slick-next {
    /*box-shadow: -20px 0px 13px 0px rgba(255,250,255,1);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;**/
}
#also2 .wiki-container .slick-arrow.slick-prev {
    /*box-shadow: -20px 0px 13px 0px rgba(255,250,255,1);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;*/
}
#also2 .wiki-container .slick-arrow:hover {
    opacity: .9;
}
#also2 .wiki-container .slick-arrow i {
    top: 18px;
    font-size: 15px;
}
#also2 .wiki-container .slick-arrow.slick-next i {
    left: auto;
    right: 0;
}
#also2 .wiki-container .slick-arrow.slick-prev i {
    left: 0;
    right: auto;
}
#also2 .wiki-container .popular .slick-arrow.slick-prev i {
  left: -5px;
}
#also2 .wiki-container .popular .slick-arrow.slick-next i {
  right: -5px;
}
.showMoreTP {
  margin: 0 auto;
  background: transparent;
  border: 2px solid #428bca;
  border-radius: 5px;
  padding: 8px 15px 5px 15px;
  line-height: 1;
  color: #428bca;
  transition: .3s;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
  display: block;
}
#wrapper #left_sidebar {
  transition: .3s;
  padding: 4px 10px 76px 22px;
  top: 66px;
}
#wrapper.no_sidebar #left_sidebar {
  transform: translateX(-100%);
  transition: .3s;
}
#wrapper.no_sidebar #middle-wrapper {
  margin-left: 0;
  width: 100%;
}
#wrapper.no_sidebar {
  margin-left: 0;
}
#wrapper.no_sidebar #also2 {
  max-width: 1350px;
  right: auto;
}
#wrapper.no_sidebar {
  padding-left: 30px;
}
#wrapper.no_sidebar #sec02,
#wrapper.no_sidebar .all.ct{
  right: auto;
}
#wrapper.no_sidebar .popular.ct {
  width: 494px;
}
#wrapper.no_sidebar .art {
  width: 280px;
}

#wrapper.no_sidebar .art .img img {
  max-width: 280px;
}

#wrapper.no_sidebar .share_snippet {
  width: 280px;
}
#toggle_sidebar img {
  width: 100%;
}
#toggle_sidebar {
  width: 20px;
  min-width: 20px;
  margin-right: 13px;
  position: relative;
  top: -3px;
  cursor: pointer;
}
#wrapper.no_sidebar .grid_layout .grid_item.rows {
  width: calc(20% - 22px);

}
#wrapper.no_sidebar .grid_layout .grid_item.first.top {
  width: calc(40% - 22px);
  margin-bottom: 21px;
}
#wrapper.no_sidebar .grid_layout .grid_item.rows .img_container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#wrapper.no_sidebar .grid_layout .grid_item .img_container {
  width: calc(20% - 18px);
  min-width: calc(20% - 18px);
}
#wrapper.no_sidebar .article_parrent {
  max-width: 280px;
}
#adunit0 {
    clear: both;
}
div#amzn-native-ad-0 div.amzn-native-products-list div.amzn-native-product .amzn-native-product-attr-container {
  position: initial !important;
}
div#amzn-native-ad-0 .amzn-native-content {
  overflow: initial !important;
}
div#amzn-native-ad-0 div.amzn-native-products-list {
  display: flex !important;
}

div#amzn-native-ad-0 div.amzn-native-products-list div.amzn-native-product {
  height: auto !important;
  padding-bottom: 15px;
}
#amzn_assoc_ad_div_adunit0_0 {
  padding-top: 40px;
  /*display: inline-block !important;*/
  padding-left: 18px;
  margin-bottom: 0;
}
.no_sidebar #amzn_assoc_ad_div_adunit0_0 {
  padding-left: 0;
}
.more_wrap {
  width: 1150px;
}
.no_sidebar .more_wrap {
  width: 1350px;
}
div#amzn-native-ad-0 {
   /* margin: 0 auto;*/
}