@charset "UTF-8";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

section,
article { display: block; }

#first-sec { margin-bottom: 50px !important; }

#first-sec,
#filter-text,
.sec {
	position: relative;
	margin: 0 auto;
	width: 100%;
}
#sec02, #sec01{margin-top: 20px;}
#related-text {
  text-align: center;
  margin-bottom: 10px;
}

#filter-text article.art {
	position: absolute;
	width: 165px;
}

#related-title {
	margin: 0 auto;
	padding: 0 8px;
	text-align: center;
}

.absolute { position: absolute; }

.art {
	display: inline-block;
	background: #fff;
	border-radius: 6px;
	width: 165px;
}

.art .inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.art-title {
    margin: 20px 10px;
    font-size: 16px;
    max-height: 33px;
    text-align: center;
    overflow: hidden;
    color: #555;
    font-family: "MyriadPro";
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}
.art .active-url {color: #555;}
.art .active-url:hover {text-decoration: none;}
.art-title a { color: #555; }

.art-descr {
    margin: 0 10px;
    max-height: 62px;
    overflow: hidden;
    text-align: justify;
    display: none;
}

.art-footer .art-sublink {
    margin-top: 5px;
    color: #555;
    display: flex;
    padding: 5px 10px;
    border-top: 1px solid #e7e7e7;
    justify-content: center;
}
.art-footer .art-sublink .pub-date{
    white-space: nowrap;
    margin-right: 10px;
}

.art .img {
    position: relative;
    text-align: center;
    margin: 0px 0 20px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
}

.art .img img {
    display: inline-block;
    border: 0;
    border-radius: 6px;
    max-width: 234px;
    max-height: 254px;
}

.art .img img.fade { transition: opacity 0.04s linear; }

.art:hover {
    cursor: pointer;
    border: 1px solid rgba(23, 89, 210, 0.89);
    -webkit-box-shadow: 0 1px 2px 0 rgba(23, 89, 210, 0.99);
    box-shadow: 2px 2px 3px 0 rgba(23, 89, 210, 0.99);
}

.delim { margin: 0 7px; }

.pub-link {
    color: green;
    text-align: left;
    overflow: hidden;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.highlight_gray,
.highlight_blue {
	border: 1px solid rgba(80, 139, 247, 0.46);
	-webkit-box-shadow: 0 1px 2px 0 rgba(80, 139, 247, 0.46);
	box-shadow: 1px 1px 2px 0 rgba(80, 139, 247, 0.46);
}

hr.delimiter {
	background: #297beb;
	width: 80%;
	height: 1px;
	margin: 50px 10%;
	position: relative;
}

.bistroe-reshenie {
  background: #297beb;
  width: 40%;
  height: 1px;
  margin: 30px 30% 30px;
  cursor: default !important;
  box-shadow: none !important;
}

@media (max-width: 1999px) and (min-width: 1750px) {
	#first-sec,
	.sec,
	#related-title { width: 1750px; }
}

@media (max-width: 1750px) and (min-width: 1500px) {
	#first-sec,
	.sec,
	#related-title { width: 1500px; }
}

@media (max-width: 1500px) and (min-width: 1300px) {
	#first-sec,
	.sec,
	#related-title { width: 1250px; }
}

@media (max-width: 1300px) and (min-width: 1000px) {
	#first-sec,
	.sec,
	#related-title { width: 1000px; }
}

@media (max-width: 320px) and (min-width: 320px) {
	#filter-text article.arts { width: 140px; }

	.arts .img img { width: 140px; }

	.art-footer .art-sublink { font-size: 12px; }

	.delim { margin: 0px 1px; }
}

.h1, h1, .h2, h2 { font-size: 0px; }

.embolded {
    color: black;
    font-weight: bold;
}

/* Slick carousel */
#hcancarousel {
    padding: 0;
    min-height: 55px;
}

.slick {
    width: 100%;
    margin: 0;
    padding: 0;
}

.slick .slick-list { z-index: 1; }

.slick img {
    display: none;
    max-width: 106px;
}

.slick-slide { max-height: 52px; }

.slick-slide > div {
    float: left;
    width: 126px;
    margin: 0 0 0 30px;
    padding: 6px 0;
    z-index: 2;
}

@media screen and (max-width: 325px) and (min-width: 320px) {
	.slick-slide > div { margin: 0 0 0 15px; }
}

.slick-slide a.fv {
    display: block !important;
    background: #fafafa;
    width: 125px !important;
    padding: 5px 10px;
    color: #a3a3a3;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0 1px 5px #9c9c9c;
}

.slick-slide a.fv > img {
    display: block;
    width: 100%;
}

.slick .slick-arrow {
    background: transparent;
    display: inline-block;
    width: 35px;
    height: 40px;
    padding: 0;
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
    position: absolute;
    top: 6px;
    cursor: pointer;
    z-index: 1000;
}

.slick .slick-disabled { display: none !important; }

.slick .slick-arrow > i.glyphicon {
    color: #999;
    font-size: 18px;
    top: 3px;
}

.slick .slick-arrow.slick-prev {
    float: left;
    left: -16px;
    text-align: right;
}

.slick .slick-arrow.slick-next {
    float: right;
    right: -16px;
    text-align: left;
}
#carousel-block .slick .slick-arrow > i.glyphicon {top: -14px;}
#tabbed-nav { display: none; }
#tabbed-nav-list { margin: 0; }
#tabbed-nav-list .tab-pane { display: none; }
#tabbed-nav-list .active { display: block; }
#tabbed-nav .list-tab {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    border: none;
    position: relative;
    text-align: center;
}

#tabbed-nav .list-tab li {
    display: inline-block;
    position: relative;
    min-width: 86px;
    background-color: #fff;
    border: 1px solid #C9DFF2;
    border-radius: 6px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #CAE6FF;
    padding: 0 5px;
    margin: 0 8px;
    overflow: hidden;
    box-shadow: 0 1px 2px rgb(121, 184, 255);
    float: none;
}

#tabbed-nav .list-tab li.active { background-color: rgb(121, 184, 255); }
#tabbed-nav .list-tab li.active a { color: #fff; }
#tabbed-nav .list-tab li.active a:hover { color: rgb(121, 184, 255); }
#tabbed-nav .list-tab li:hover {
    cursor: pointer;
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(225, 245, 255, 1) 85%, rgba(225, 245, 255, 1) 100%);
}

#tabbed-nav .list-tab li a {
    display: inline-block;
    border: none;
    padding: 0;
    color: rgb(121, 184, 255);
    line-height: 32px;
    height: 100%;
    width: 100%;
}

#tabbed-nav .nav-tabs > li > a,
#tabbed-nav .nav-tabs > li > a:hover,
#tabbed-nav .nav-tabs > li > a:focus {
	background-color: transparent;
	border: none;
}

.filter-images img { max-height: 150px; }
.disabled{display: none !important;}
img.img-responsive{
    width: 130px;
    height: 130px;
    border-radius:6px
}
.box-from-list{
    width:130px;
    text-align: center;
    word-spacing: 1px;
    margin: 0 auto;
    height: 176px;
}
#treading-popular-wrapper{
    width: 80%;
    margin: 0 auto;
    display: none;
}
#slide-wrapper{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 15px;
    display: none;
}
#slide-wrapper .slick-slide > div{
    margin: 0 !important;
    padding-left: 8px;
}
#carousel-block{
    width: 79%;
    margin: 0 auto;
}
#carousel-block .slick-prev {left: -40px !important}
#carousel-block .tab-content .slick-next {right: -40px !important}
#title-flex {
    height: 60px;
    top: -55px;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(0deg, rgba(35, 33, 33, 0.9) 82%, transparent 100%);
    text-align: left;
    font-size: 16px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-left: 5px;
    padding-top: 2px;
    line-height: 1.3;
}
#title-flex a span{color: #fff;}
a.h20 {
    height: 38px;
    padding: 0 5px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
    overflow: hidden;
    text-transform: capitalize;
}
.h20.bottom {
    align-items: flex-end;
}
#treading-popular-wrapper .owl-theme .owl-controls .owl-buttons div {
    top: -175px;
    height: 137px;
}
#treading-popular-wrapper .owl-prev{
    margin-left: -30px !important;

}
#treading-popular-wrapper .owl-next{
    margin-right: -30px !important;

}
#treading-popular-wrapper .owl-carousel .owl-wrapper-outer{height: 197px;}
.ct_trending h2, .ct_popular h2, .ct_breaking h2{
    font-size: 24px;
    text-align: center;
    color: #297beb;
    font-weight: 500;
    margin-bottom: 5px;
}
.one_element{
    width:150px !important;
    margin:0 auto;
}
.image {
    margin:30px;
    float:left;
    cursor:pointer;
    max-height:100px;
}

.popup {
    position: fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    display:none;
    text-align:center;
    z-index: 9999;
}

.popup_bg {
    background:rgba(0,0,0,0.4);
    position:absolute;
    z-index:1;
    height:100%;
    width:100%;
}

.title4url, .linkId {
    display: none;
}
.popup_img {
    position: relative;
    margin:0 auto;
    z-index:2;
    max-height: 100%;
    max-width: 100%;
    margin: 50% 0 0 0;
    vertical-align: top;
}
.image_close {
    position: absolute;
    top: 0;
    cursor: pointer;
    bottom: 344px;
    right: 28px;
    margin: auto 0;
    width: 24px;
    height: 24px;
    background: url(/resources/img/subpages/close.png) no-repeat;
    background-size: 24px 24px;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
}
#amazon .slick-next {right: -32px !important;}
#amazon .slick-prev {left: -31px !important;}
#amazon {width: 79% !important;}
@media screen and (max-width: 320px) {
    #filter-text article.art {width: 150px;}
    .box-from-list {width: 114px;}
}